<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.weisg.cloud.cloudbiz.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.weisg.cloud.cloudbiz.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="money" property="money" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="is_deleted" property="isDeleted" />
        <result column="age" property="age" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, money, create_date, modify_date, is_deleted, age
    </sql>

</mapper>
